<div class="login-wrapper">
  <h2>Log In</h2>
  <form *ngIf="isLoading === false" #registerForm="ngForm" (ngSubmit)="onSubmit(); registerForm.reset()">
    <div class="form-group">
      <label> 
      <input #ngName="ngModel" class="form-control" type="text" name="username" [(ngModel)]="user.username" placeholder="Enter your username" required minlength="4" maxlength="30" pattern="[a-zA-Z0-9\-_]*">
      <div class="invalid-input-msg animated jello" [hidden]="ngName.valid || ngName.untouched">Your username must be between</div>
    </label>
    </div>
    <div class="form-group">
      <label> 
      <input #ngPass="ngModel" class="form-control" type="password" name="password" [(ngModel)]="user.password" placeholder="Enter your password" required minlength="6" maxlength="30" pattern="[a-zA-Z0-9\-_]*">
      <div class="invalid-input-msg animated jello" [hidden]="ngPass.valid || ngPass.untouched">Your password must be between</div>
    </label>
    </div>
    <div class="form-group">
      <label>
      <button class="btn btn-success" [disabled]="ngPass.invalid || ngName.invalid" type="submit">Submit</button>
    </label>
    </div>
  </form>
  <img *ngIf="isLoading === true" id="loading" src="../../../assets/load.gif" alt="Be patient..." width="50px" />
</div>

<!-- Carousel testing DELETE -->
<!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let img of images; let i = index" data-target="#carousel-example-generic" [attr.data-slide-to]="i" [class.active]="i===1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div *ngFor="let img of images; let i = index" class="item" [class.active]="i===1">
      <img [src]="img" alt="slide">
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>-->