<!--<footer>
  <div class="well">
    <a href="https://github.com/team-heat/killer-app" target="_blank">
      <p>Team Heat - Killer App @ GitHub</p>
    </a>
    <a href="https://github.com/ilievv" target="_blank">
      <p>Iliyan Kupenov</p>
    </a>
    <a href="https://github.com/shakuu" target="_blank">
      <p>Hristo Todorov</p>
    </a>
    <a href="https://github.com/StoikoNeykov" target="_blank">
      <p>Stoiko Neykov</p>
    </a>
  </div>
</footer>-->
<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav text-center">
      <li>
        <a href="https://github.com/team-heat/killer-app" target="_blank">Team Heat - Dreamstime @ GitHub</a>
      </li>
      <li>
        <a href="https://github.com/ilievv" target="_blank">Iliyan Kupenov</a>
      </li>
      <li>
        <a href="https://github.com/shakuu" target="_blank">Hristo Todorov</a>
      </li>
      <li>
        <a href="https://github.com/StoikoNeykov" target="_blank">Stoiko Neykov</a>
      </li>
      <li>
        <a routerLink="/contact">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>