<!--<label>
  <input [id]="id" type="file" name="fileUpload" (change)="updateLabel($event)" multiple>
  <label [for]="id" class="file-upl-lb">
    <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> {{labelText}}
  </label>
</label>-->
<!-- app.component.html -->
<input type="file" ngFileSelect [options]="options" (onUpload)="handleUpload($event)" (beforeUpload)="beforeUpload($event)">

<!-- drag & drop file example-->
<style>
  .file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
</style>
<div ngFileDrop [options]="options" (onUpload)="handleUpload($event)" [ngClass]="{'file-over': hasBaseDropZoneOver}" (onFileOver)="fileOverBase($event)"
  (beforeUpload)="beforeUpload($event)">
</div>

<div>
  Response: {{ uploadFile | json }}
  <div *ngIf="uploadedFiles.length > 0">
    <img *ngFor="let file of uploadedFiles " [src]="file.imageUrl" alt="" width="300px">
  </div>
</div>