<h2>Registration Form</h2>
<form *ngIf="isLoading === false" #registerForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label> 
      <span>Username: </span>
      <input class="form-control" type="text" name="username" [(ngModel)]="user.username" placeholder="Enter your username" required minlength="3" maxlength="30" pattern="[a-zA-Z0-9\-_]*">
    </label>
  </div>
  <div class="form-group">
    <label> 
      <span>Password: </span>
      <input class="form-control" type="password" name="password" [(ngModel)]="user.password" placeholder="Enter your password" required minlength="3" maxlength="30" pattern="[a-zA-Z0-9\-_]*">
    </label>
  </div>
  <div class="form-group">
    <label> 
      <span>First Name: </span>
      <input class="form-control" type="text" name="firstName" [(ngModel)]="user.firstName" placeholder="Enter your first name" minlength="3" maxlength="30" pattern="[a-zA-Z0-9\-_]*">
    </label>
  </div>
  <div class="form-group">
    <label> 
      <span>Last Name: </span>
      <input class="form-control" type="text" name="Last Name" [(ngModel)]="user.lastName" placeholder="Enter your last name" minlength="3" maxlength="30" pattern="[a-zA-Z0-9\-_]*">
    </label>
  </div>
  <div class="form-group">
    <label> 
      <span>Age: </span>
      <input class="form-control" type="number" name="Last Name" [(ngModel)]="user.age" placeholder="Enter your age" min="0" max="120" required>
    </label>
  </div>
  <div class="form-group">
    <div class="dropdown">
      <button *ngIf="user.gender" class="btn btn-default dropdown-toggle" type="button" id="gender-select" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true" name="gender">
          {{user.gender}}
        <span class="caret"></span>
      </button>
      <button *ngIf="!user.gender" class="btn btn-default dropdown-toggle" type="button" id="gender-select" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true" name="gender">
          Gender
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="gender-select">
        <li (click)="onGenderSelect('Male')"><a>Male</a></li>
        <li (click)="onGenderSelect('Female')"><a>Female</a></li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label> 
      <span>Email: </span>
      <input class="form-control" type="email" name="email" [(ngModel)]="user.email" placeholder="Enter your email" required>
    </label>
  </div>
  <div class="form-group">
    <label> 
      <span>Profile Image: </span>
      <input class="form-control" type="url" name="image" [(ngModel)]="user.image" placeholder="Enter an url to your profile image">
    </label>
  </div>
  <div class="form-group">
    <label>
      <button class="form-control" type="submit">Register</button>
    </label>
  </div>
</form>
<img *ngIf="isLoading === true" id="loading" src="../../../assets/load.gif" alt="Be patient..." width="50px" />