input,
button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: rgba(225, 225, 225, 0.77);
  background-color: #2f2f2f;
  border-radius: 0;
  &.ng-valid.ng-touched {
    border-color: #55b559;
  }
  &.ng-invalid.ng-touched {
    border-color: #F55145;
  }
}

input,
button {
  width: 250px;
}

button.dropdown-toggle {
  text-align: left;
}

button[type="submit"] {
  &:hover {
    text-decoration: underline;
  }
}

#loading {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
}