<div class="submit-wrapper">
  <div id="component-header">
    <h3 *ngIf="this.items.length === 0">Dreamstime Gallery</h3>
    <a *ngIf="this.items.length !== 0" routerLink="{{this.activeItem._id}}">
      <h3>
        <span>{{this.activeItem.make}}</span>
        <span>{{this.activeItem.model}}</span>
        <span>{{this.activeItem.year}}</span>
      </h3>
    </a>
  </div>
  <div class="row">
    <div id="carousel-container" class="col-xs-6 col-xs-offset-3">
      <app-carousel *ngIf="this.activeItem" [mylist]="this.activeItem.pictures"></app-carousel>
    </div>
  </div>
</div>