@font-face {
  font-family: planer;
  src: url('../../assets/Planer-Regular.otf');
}

img {
  box-shadow: 0 5px 20px black;
}

.list-group {
  font-family: planer;
  font-size: 20px;
  background-color: transparent;
  .list-group-item {
    border: none;
    box-shadow: 0 5px 20px black;
    background-color: transparent;
    margin-bottom: 20px;
  }
}