@font-face {
  font-family: planer;
  src: url('../../assets/Planer-Regular.otf');
}

@font-face {
  font-family: noto;
  src: url('../../assets/NotoSans-Regular.ttf');
}

nav {
  margin-top: 1.5%;
  padding-left: 10px;
  padding-right: 25px;
  border: none;
  box-shadow: 0 5px 25px #000000;
  background-color: rgba(0, 0, 0, 0.33);
  text-align: center;
  font-size: 20px;
  font-family: noto;
  .btn-default {
    color: rgba(225, 225, 225, 0.77);
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin-top: 0px;
  }
  h1.app-heading {
    color: rgba(225, 225, 225, 0.77);
    font-family: planer;
    letter-spacing: 1em;
    margin-top: 0px;
  }
  a.navbar-brand {
    color: #fff;
    font-family: planer;
    font-size: 22px;
  }
  li.favorites-item {
    &:hover span.glyphicon.glyphicon-heart {
      color: #DF474B;
    }
    span.glyphicon.glyphicon-heart {
      font-size: 2.5rem;
    }
  }
  span.glyphicon.glyphicon-heart {
    font-size: 2.5rem;
    &:hover {
      color: red;
    }
  }
  li.active>a,
  li.open>a {
    background-color: rgba(51, 51, 51, 0.33) !important;
    box-shadow: 0 1px 15px #000000;
  }
  ul.dropdown-menu {
    >li>a {
      font-size: 1.5rem;
      color: #444444;
    }
  }
}