<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div *ngIf="hasLoggedUser == true" class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" (click)="setActiveItem()" routerLink="/">DREAMSTIME</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div *ngIf="hasLoggedUser == true" class="collapse navbar-collapse navbar-ex1-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li appNavigationHover class="hvr-glow" [class.active]="activeItem === 'Gallery'" (click)="setActiveItem('Gallery')"><a routerLink="/gallery">Gallery</a></li>
      <li appNavigationHover class="hvr-glow" [class.active]="activeItem === 'Create'" (click)="setActiveItem('Create')"><a routerLink="/submit">Create</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a appNavigationHover href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{loggedUserName}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li (click)="setActiveItem('None')"><a appNavigationHover routerLink='profile'>Profile</a></li>
          <li (click)="setActiveItem('None')"><a appNavigationHover routerLink='profile'>Settings</a></li>
          <li role="separator" class="divider"></li>
          <li (click)="setActiveItem('None')"><a appNavigationHover routerLink="logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
  <div class="row" *ngIf="hasLoggedUser == false">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse" id="bs-example-navbar-collapse-1">
      <h1>
        <a routerLink="/" class="btn btn-default navbar-btn col-xs-1" aria-label="Left Align">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
      </h1>
      <h1 class="app-heading col-xs-10">DREAMSTIME</h1>
      <h1>
        <a routerLink="/login" class="btn btn-default navbar-btn col-xs-1" aria-label="Left Align">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        </a>
      </h1>
    </div>
  </div>
</nav>