<nav class="navbar navbar-inverse" role="navigation">
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul *ngIf="hasLoggedUser == true" class="nav navbar-nav">
      <li [class.active]="activeItem == 'Home'" (click)="setActiveItem('Home')"><a routerLink="/">Home</a></li>
      <li [class.active]="activeItem == 'Browse'" (click)="setActiveItem('Browse')"><a routerLink="/">Browse</a></li>
      <li [class.active]="activeItem == 'Create'" (click)="setActiveItem('Create')"><a routerLink="/">Create</a></li>
    </ul>
    <div class="row" *ngIf="hasLoggedUser == false">
      <h1>
        <a routerLink="/" class="btn btn-default navbar-btn col-xs-1" aria-label="Left Align">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
      </h1>
      <h1 class="app-heading col-xs-10">DREAMSTIME</h1>
      <h1>
        <a routerLink="/" class="btn btn-default navbar-btn col-xs-1" aria-label="Left Align">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        </a>
      </h1>
    </div>
  </div>
  <!-- /.navbar-collapse -->
</nav>