input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: rgba(225, 225, 225, 0.77);
  background-color: #2f2f2f;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}