/* You can add global styles to this file, and also import other style files */

body {
  background-image: url('./assets/bg-pattern-11.png');
  background-repeat: repeat;
}

div#content {
  padding: 25px;
  min-height: 60vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.33);
  box-shadow: 0 5px 20px black;
  color: rgba(225, 225, 225, 0.77);
}

#component-header {
  margin: 0;
  padding: 2vh 0;
  color: #e6e6e6;
  background-color: #848484;
}