<ul>
    <li>
        <a routerLink="/statistics/items/mostCommentedItems">Top 10 most commented cars</a>
    </li>
    <li>
        <a routerLink="/statistics/items/mostExpensiveItems">Top 10 most expensive cars</a>
    </li>
    <li>
        <a routerLink="/statistics/items/mostOfferedItems">Top 10 most offered cars</a>
    </li>
    <li>
        <a routerLink="/statistics/items/mostSalledMakes">Top 10 most selled makes</a>
    </li>
    <li>
        <a routerLink="/statistics/users/topActiveUsers">Top 10 active users</a>
    </li>
    <li>
        <a routerLink="/statistics/users/topBuyers">Top 10 buyers</a>
    </li>
    <li>
        <a routerLink="/statistics/users/topSellers">Top 10 sellers</a>
    </li>
</ul>