<h1>Statistics main component works!</h1>
<a routerLink="statistics/items/mostCommentedItems">Top 10 most commented cars</a>
<a routerLink="statistics/items/mostExpensiveItems">Top 10 most expensive cars</a>
<a routerLink="statistics/items/mostOfferedItems">Top 10 most offered cars</a>
<a routerLink="statistics/items/mostSalledMakes">Top 10 most selled makes</a>
<a routerLink="statistics/users/topActiveUsers">Top 10 active users</a>
<a routerLink="statistics/users/topBuyers">Top 10 buyers</a>
<a routerLink="statistics/users/topSellers">Top 10 sellers</a>