<div class="statistics-wrapper">
  <h3 id="component-header">Statistics (Top 10)</h3>
  <ul>
    <li>
      <a routerLink="/statistics/items/mostCommentedItems">Most commented cars</a>
    </li>
    <li>
      <a routerLink="/statistics/items/mostExpensiveItems">Most expensive cars</a>
    </li>
    <li>
      <a routerLink="/statistics/items/mostOfferedItems">Most offered cars</a>
    </li>
    <!-- <li>
      <a routerLink="/statistics/items/mostSalledMakes">Most selled makes</a>
    </li>
    <li>
      <a routerLink="/statistics/users/topActiveUsers">Active users</a>
    </li>
    <li>
      <a routerLink="/statistics/users/topBuyers">Buyers</a>
    </li>
    <li>
      <a routerLink="/statistics/users/topSellers">Sellers</a>
    </li> -->
  </ul>
</div>